@import "../../styles/var";

.header {
    height: $headerHeight;
    width: 100%;
    background-color: #ebeae6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        &.logo {
            max-width: 190px;
            width: 100%;
        }

        &.menu {
            max-width: 30px;
            margin-right: 10px;
        }
    }
}