@font-face {
    font-family: 'OpenSans-Regular';
    src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Epilogue-Medium';
    src: url(assets/fonts/Epilogue-Medium.ttf);
}