$headerHeight: 60px;
$buttonBackground: #f7941d;
$buttonBackgroundHover: #f88700;
$errorBackground: #f81d00;
$errorBorder: #f80000;
$successBackground: #00c000;
$successBorder: #007500;

// breakpoint
$screen-xs: 320px;
$screen-xxs: 350px;
$screen-ss: 376px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1400px;

@mixin absoluteView($backgroundColor: null) {
    position: absolute;
    @if variable-exists(some_variable) {
        background: $backgroundColor;
    }
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    max-width: 400px;
    width: calc(100% - 70px);
}

@mixin toastView($backgroundColor, $borderColor) {
    background: $backgroundColor;
    border-color: $borderColor;
}