@import '../../styles/var';

$topPosition: calc(#{$headerHeight} + 10px);

.toast-message {
    @include absoluteView(white);
    top: $topPosition;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    padding:10px;

    @media only screen and (max-width: $screen-md) {
        font-size: 14px;
    }

    &.message-error {
        @include toastView($errorBackground, $errorBorder);
    }

    &.message-success {
        @include toastView($successBackground, $successBorder);
    }
}