/* You can add global styles to this file, and also import other style files */
@import "./styles/var";

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

.slider-content {
    .swiper-button {
        &-next, &-prev {
            display: none;
        }
    }
}

.slider-content .swiper-wrapper {
    padding-left: 10px;
    align-items: flex-end;
}