@import '../../styles/var';

.booking-container {
    bottom: 20px;
    @include absoluteView(white);

    @media only screen and (min-width: $sm) {
        
    }

    .info-container {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;

        .hotel-image {
            flex: 0 0 40%;
            background: url('../../assets/hotel.jpg') no-repeat center center;
            background-size: 150px 200px;
            height: 200px;
            background-size: auto 200px;

            @media only screen and (max-width: $sm) {
                flex: 0 0 45%;
            }
        }

        .booking-info {
            flex: 0 0 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .title {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 5px;
            }

            .vicinity {
                font-size: 16px;
                color: #a8aeb3;
            }

            .price {
                font-size: 25px;
                margin-bottom: 5px;
            }

            .description {
                font-size: 16px;
                color: #a8aeb3;
            }
        }
    }

    .button-container {
        button {
            margin: 0 auto;
            border: 0;
            background-color: $buttonBackground;
            color: white;
            width: 100%;
            border: 0;
            font-size: 20px;
            padding: 20px 0;
            outline: none;
            cursor: pointer;

            &:hover {
                background-color: $buttonBackgroundHover;
            }
        }
    }
}