@import '../../styles/var';

.booking-container {
    background: white;
    padding: 20px;

    @media only screen and (max-width: $screen-md) {
        padding: 15px;
    }

    @media only screen and (max-width: $screen-md) and (orientation: landscape) {
        padding: 10px;
    }

    .info-container {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;

        @media only screen and (max-width: $screen-md) {
            margin-bottom: 15px;
        }

        .hotel-image {
            flex: 0 0 40%;
            background: url('../../assets/hotel.jpg') no-repeat center center;
            height: 180px;
            background-size: auto 100%;
            transition: all 0.4s;

            @media only screen and (max-width: $screen-md) {
                height: 135px;
            }

            @media only screen and (max-width: $screen-md) and (orientation: landscape) {
                height: 100px;
                background-size: auto 120%;
            }
        }

        .booking-info {
            flex: 0 0 60%;
            padding-left: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @media only screen and (max-width: $screen-md) {
                width: 140px;
            }

            .title {
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 10px;
                font-family: "OpenSans-SemiBold";

                @media only screen and (max-width: $screen-lg) {
                    font-size: 13px;
                }

                @media only screen and (max-width: $screen-md) {
                    font-size: 11px;
                    margin-bottom: 5px;
                }
            }

            .vicinity {
                font-size: 14px;
                color: rgb(151, 157, 163);
                font-family: 'OpenSans-Regular';
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.6px;

                @media only screen and (max-width: $screen-lg) {
                    font-size: 12px;   
                }
                
                @media only screen and (max-width: $screen-md) {
                    font-size: 10px;
                }
            }

            .price {
                font-size: 24px;
                margin-bottom: 5px;
                font-family: "OpenSans-SemiBold";

                @media only screen and (max-width: $screen-lg) {
                    font-size: 22px;
                    line-height: 1;
                }

                @media only screen and (max-width: $screen-md) {
                    font-size: 20px;
                }
            }

            .description {
                font-size: 13px;
                color: #a8aeb3;
                font-family: 'OpenSans-Regular';
                font-weight: 200;

                @media only screen and (max-width: $screen-lg) {
                    font-size: 11px;
                }

                @media only screen and (max-width: $screen-md) {
                    font-size: 9px;
                }
            }
        }
    }

    .button-container {
        margin: 0 auto;
        button {
            margin: 0 auto;
            border: 0;
            background-color: $buttonBackground;
            color: white;
            width: 100%;
            font-size: 17px;
            padding: 10px 0;
            outline: none;
            cursor: pointer;
            font-family: 'OpenSans-Regular';

            @media only screen and (max-width: $screen-md) {
                padding: 0;
                height: 40px;
                font-size: 13px;
            }

            @media only screen and (max-width: $screen-md) and (orientation: landscape) {
                height: 25px;
            }

            &:hover {
                background-color: $buttonBackgroundHover;
            }
        }
    }
}