<div *ngIf="property" class="booking-container">
  <div class="info-container">
    <div class="hotel-image"></div>
    <div class="booking-info">
      <div class="top-info">
        <p class="title">{{property.title}}</p>
        <ng-container *ngIf="property.distance">
          <p class="vicinity">{{(property.distance / 1000) | number : '1.2-2'}} km from the city center</p>
        </ng-container>
      </div>
      <div class="bottom-info">
        <p class="price">£98</p>
        <p class="description">Designs may vary</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="onBookingClick(property.id)">Book</button>
  </div>
</div>
