<div *ngIf="selectedProperty" [@fadeInOut] appCloseBooking class="booking-container" (clickOutside)="onOutsideClick()">
  <div class="info-container">
    <div class="hotel-image"></div>
    <div class="booking-info">
      <div class="top-info">
        <p class="title">{{selectedProperty.title}}</p>
      <p class="vicinity" [innerHTML]='selectedProperty.vicinity'></p>
      </div>
      <div class="bottom-info">
        <p class="price">$98</p>
        <p class="description">Designs may vary</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button (click)="onBookingClick(selectedProperty.id)">Book</button>
  </div>
</div>
